<mat-card class="example-card">
  <mat-card-header>
    <mat-icon color="warn"
              *ngIf="productCard.isFavorite; else startBlack"
              (click)="productCard.isFavorite = !productCard.isFavorite">star</mat-icon>
    <mat-card-title>{{productCard?.title}}</mat-card-title>
    <mat-card-subtitle>{{productCard?.category}}</mat-card-subtitle>

  </mat-card-header>
  <div class="img" (click)="openDialog()">
    <img mat-card-image
         [src]='productCard?.thumbnail'
         alt="Photo of a Shiba Inu">
  </div>
  <mat-card-content>
      <p>{{productCard?.description}}</p>
  </mat-card-content>
  <mat-card-actions>
      <button color="accent" mat-button (click)="productAdded()">Add to card</button>

      <div color="accent">
        <h1>{{productCard?.price | currency}}</h1>
      </div>
  </mat-card-actions>
</mat-card>

<ng-template #startBlack>
  <mat-icon (click)="productCard.isFavorite = true">star</mat-icon>
</ng-template>

