<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
    <mat-card-title>{{product?.title}}</mat-card-title>
    <button (click)="close()" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content></mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-evenly stretch">
    <button mat-raised-button color="accent" (click)="save()">Save</button>
    <button mat-raised-button color="warn" (click)="close()">Close</button>
  </mat-card-actions>
</mat-card>
