@import '~@angular/material/theming';


@include mat-core();
$my-app-primary: mat-palette($mat-indigo);
$my-app-accent: mat-palette($mat-green, A200, A100, A400);
$my-app-warn: mat-palette($mat-red);


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-drawer-content{
  background: white !important;
}
