html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-drawer-content{
  background: white !important;
  color: black;
}
.loading{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
img{
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}
.img{
  width: 100%;
  height: 300px;
}

.mat-mdc-card-header{
  justify-content: space-between;
}
mat-form-field{
  width: 100%;
}
mat-checkbox{
  background: #303030;
  padding: 20px;
  border-radius: 12px;
}
.mdc-card__actions {
  align-items: baseline !important;
  justify-content: space-between;
}
.card_product_wrapper{
  height: 100%;
  width: 100%;
}
.card-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
mat-card-content{
  padding: 20px 10px !important;
  height: 60px;
}

.input-wrapper{
  position: absolute;
  height: 30%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form{
  width: 100%;
}
